server {
    server_name midos.house;

    listen 80;
    listen [::]:80;

    return 301 https://$host$request_uri;
}

server {
    server_name midos.house;

    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/letsencrypt/live/inwx/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/inwx/privkey.pem;

    add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload" always;

    location / {
        add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload" always;
        proxy_pass http://localhost:24812;
    }

    error_page 502 /error/502.html;

    location /error/ {
        root /opt/git/github.com/midoshouse/midos.house/master/assets;
        internal;
    }
}
