body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

nav,
nav > a {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

a {
    color: black;
}

nav > a,
a.button,
a:hover {
    text-decoration: none;
}

.logo {
    display: grid;
    grid-template-columns: 32px 32px;
}

.chest {
    width: 32px;
    height: 32px;
    padding: 0;
}

nav h1 {
    font-size: 32px;
    margin: auto 0;
    line-height: 1;
}

#login {
    text-align: right;
}

body > div,
footer {
    margin: 8px;
}

body > div {
    flex-grow: 0;
}

.button-row {
    display: flex;
    flex-flow: row wrap;
    padding: 0 16px;
}

.button {
    background-color: white;
    border: 1px solid black;
    padding: 8px;
}

.button:nth-child(1) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.button:nth-last-child(1) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.button.selected,
.button:hover {
    background-color: black;
    color: white;
}

article {
    border: 1px solid black;
    margin: 8px;
    padding: 8px;
}

.button-row + article {
    margin-top: -16px;
}

table {
    margin: 8px;
}

.button-row + table {
    margin-top: -16px;
}

.button-row + table th {
    padding-top: 16px;
}

table,
table th,
table td {
    border: 0.5px solid black;
    border-spacing: 0;
    text-align: center;
}

table th,
table td {
    padding: 8px;
}

.sheikah {
    color: #6000c0;
}

.gerudo {
    color: #c06000;
}

.power {
    color: #c00000;
}

.wisdom {
    color: #0000c0;
}

.courage {
    color: #00c000;
}

.banner {
    text-align: center;
}

.banner img {
    max-width: 100%;
}

.nearest-neighbor {
    image-rendering: pixelated;
}

footer,
footer a {
    color: gray;
}

@media (min-width: 448px) {
    nav.index .logo {
        grid-template-columns: 64px 64px;
    }

    nav.index .chest {
        width: 64px;
        height: 64px;
    }

    nav.index h1 {
        font-size: 64px;
    }
}

@media (min-width: 768px) {
    nav h1 {
        font-size: 64px;
    }
}

@media (min-width: 1152px) {
    nav.index h1 {
        font-size: 128px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    a {
        color: white;
    }

    .button {
        background-color: black;
        border-color: white;
    }

    .button.selected,
    .button:hover {
        background-color: white;
        color: black;
    }

    article {
        border-color: white;
    }

    table,
    table th,
    table td {
        border-color: white;
    }

    .sheikah {
        color: #a040ff;
    }

    .gerudo {
        color: #ffa040;
    }

    .power {
        color: #ff4040;
    }

    .wisdom {
        color: #4040ff;
    }

    .courage {
        color: #40ff40;
    }
}
