body {
    font-family: system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

nav,
nav > a {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

nav a {
    color: black;
}

nav > a,
a:hover {
    text-decoration: none;
}

.logo {
    display: grid;
    grid-template-columns: 32px 32px;
}

.chest {
    width: 32px;
    height: 32px;
    padding: 0;
}

nav h1 {
    font-size: 32px;
    margin: auto 0;
    line-height: 1;
}

#login {
    text-align: right;
}

footer,
footer a {
    color: gray;
}

@media (min-width: 448px) {
    .logo {
        grid-template-columns: 64px 64px;
    }

    .chest {
        width: 64px;
        height: 64px;
    }

    nav h1 {
        font-size: 64px;
    }
}

@media (min-width: 1152px) {
    nav h1 {
        font-size: 128px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    nav a {
        color: white;
    }
}
